@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Marck+Script&family=Montserrat+Alternates:wght@600&display=swap');
html, body
{
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size:24px;
    font-weight: 600px;;
    background-image: url(/img/oldbackgr.jpg);
}

.tab {
    tab-size: 4;
}

.top
{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.main-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
}

.block-info
{
    margin: 10px 0;
}


.schedule
{
    padding: 0 20px;
}

.schedule-block-info
{
    margin:25px 0;
}

.callback
{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
}

.callback-info
{
    color: #fff;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	background-color: #636363; /* Цвет фона */
    opacity: 0.7;
    padding: 1em 2em; /* Отступ от текста до рамки */
    border-radius:0.7em;
	}

	a:hover {
	background-color: #000; /* Цвет кнопки при наведении курсора */

}